@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  :root {
    --color-primary: 0 114 188; /* Blue */
    --color-secondary: 245 129 32; /* Yellow */
  }
}

html {
  font-size: 62.5%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rec.rec-arrow {
  background-color: #f89c30;
  border: none;
  box-shadow: none;
  color: white;
}

.rec.rec-arrow:hover {
  background-color: #ef8711;
}

.rec.rec-arrow.rec-arrow-right:hover {
  background-color: #ef8711;
}
